.header{
    margin:0;
    font-size:5rem;
    color:white;
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
}
.header:hover{
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.6);
    cursor:pointer;
}
.header--wrapper{
    text-align: center;
    margin:auto;
    background-color:var(--bg-color);

    position:sticky;
    padding-top:2.5%;
    top:0;
    left:0;
    z-index: 99;
}
.header--wrapper > a {
    text-decoration: none;
    width:fit-content;
}