body{
  background-color: var(--bg-color);
}

.app--animation{
  animation: fly-in-from-right .5s ease forwards;
}

.app--scrollsection{
  /* scroll-snap-type: y mandatory;
    scroll-padding: 35%;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    overflow-y:scroll;
    height:50dvh;
    -ms-overflow-style: none;  
    scrollbar-width: none;   */
    overflow-y:hidden;
    height:20dvh;
}
.app--scrollsection::-webkit-scrollbar{
  display: none;
}

@keyframes fly-in-from-right {
  0% {
    transform:translateX(200px);
    opacity:0;
  }
  100% {
    transform:translateX(0);
    opacity:1;
  }
}

